
.optimist {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;   
}
.optimist span {
    font-size: 40px;
    text-align: center;
    font-weight:bold;
}
.optimist-card {
    display: flex;
    flex-direction: column;
    gap:30px;   
}
.managment {
    background-image: url("./pic2/media\ bg-cover.png");
    background-size: cover;
    background-position: center;
    height: 500px;  
}
.managment button {
    position:relative;
    top: 300px;
    left: -150px;
}
.absolut {
    display: flex;
    flex-direction: column;
}
.managment button {
    border-radius:37px;
    background-color: #23A6F0;
}
.optimist-card :nth-child(2) {
    background-image: url("./pic2/media\ bg-cover\ \(1\).png") ;
}
.optimist-card :nth-child(3) {
    background-image: url("./pic2/media\ bg-cover\ \(2\).png");
}
.optimist-card :nth-child(4) {
    background-image: url("./pic2/media\ bg-cover\ \(3\).png");
}
@media ( min-width:1024px ){
    .optimist-card {
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    .together {
        display: none;
    }
}