.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.work :nth-child(1) {
    display:none;
}

.work :nth-child(2) {
    max-width: 212px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.work :nth-child(3) {
    max-width: 262px;
}

.lovecards {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.workcard1 {
    background-image: url(./pic2/media\ bg-cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 452px;
}

.work1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 27px;
    margin-top: 250px;
}
    
.work1 :nth-child(1) {
    font-size: 14px;
    color: #ffffff;

}

.work1 :nth-child(2) {
    font-size: 24px;
    color: #FFFFFF;
    max-width: 282px;
}

.work1 :nth-child(3) {
    border-radius: 37px;
    background-color: #23A6F0;
    width: 93px;
    height: 22px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5px;
}

.workcard2 {
    background-image: url(./pic2/media\ bg-cover\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 452px;   
}

.workcard3 {
    background-image: url(./pic2/media\ bg-cover\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 452px;
}

.workcard4 {
    background-image: url(./pic2/media\ bg-cover\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 452px;
}

@media (min-width:1024px){
    .lovecards {
        display: grid;
        grid-template-columns: repeat(4,1fr);
     }
     
     .work :nth-child(2) {
         display: none;
     }

     .work :nth-child(1) {
         display: inline;
         font-size: 40px;
         font-weight: bold;
     }
     
     .work :nth-child(3) {
        max-width: 470px;
        font-size: 14px;
        margin-bottom: 10px;
     }
    
}
   