
.optimist {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;   
}
.optimist span {
    font-size: 40px;
    text-align: center;
    font-weight:bold;
}
.optimist-card {
    display: flex;
    flex-direction: column;
    gap:30px;  
    position: relative; 
}
.button {
    border-radius:37px;
    background-color: #23A6F0;
    width: 160px;
    height: 40px;
    position: relative;
    top: 290px;
    left: 10px;
}
.managment1 {
    background-image: url("./pic2/media\ bg-cover.png");
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
 }
 .tips {position: absolute;
    top: 300px;
    left: 0px;
    display: flex;
    flex-direction: column;
 }
.managment2 {
    background-image: url("./pic2/media\ bg-cover\ \(1\).png") ;
    background-size: cover;
    background-position: center;
    height: 700px;  
}
.managment3 {
    background-image: url("./pic2/media\ bg-cover\ \(2\).png");
    background-size: cover;
    background-position: center;
    height: 700px;  
}
.managment4 {
    background-image: url("./pic2/media\ bg-cover\ \(3\).png");
    background-size: cover;
    background-position: center;
    height: 700px;
}
.tax {
    
    color: #FFFFFF;
}
.life {
    max-width:200px;
    color: #FFFFFF;
}
@media ( min-width:1024px ){
    .optimist-card {
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    .together {
        display: none;
    }
}